
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<form style="max-width: 1440px; margin: auto;">
  <label for="basic-url" class="form-label">Pais</label>
  <select class="form-select" aria-label="Default select example" style="margin: 10px 0;" required [(ngModel)]="pais" [ngModelOptions]="{standalone: true}">
    <option value="1">Colombia</option>
    <option value="2">Brasil</option>
    <option value="3">Perú</option>
  </select>
  <label for="basic-url" class="form-label">Genero</label>
  <select class="form-select" aria-label="Default select example" style="margin: 10px 0;" required [(ngModel)]="genero" [ngModelOptions]="{standalone: true}">
    <option value="1">Masculino</option>
    <option value="2">Femenino</option>
    <option value="3">Otro</option>
  </select>

  <label for="basic-url" class="form-label">Primer nombre</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" required [(ngModel)]="primerNombre" [ngModelOptions]="{standalone: true}">
  </div>

  <label for="basic-url" class="form-label">Segundo nombre</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" required [(ngModel)]="segundoNombre" [ngModelOptions]="{standalone: true}">
  </div>

  <label for="basic-url" class="form-label">Fecha de nacimiento</label>
  <div class="input-group mb-3">
    <input type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3" required [(ngModel)]="nacimiento" [ngModelOptions]="{standalone: true}">
  </div>

  <select class="form-select" aria-label="Default select example" style="margin: 10px 0;" required [(ngModel)]="tipoDocumento" [ngModelOptions]="{standalone: true}">
    <option value="1">Cedula de ciudadania</option>
    <option value="2">Cedula extranjeria</option>
    <option value="3">Pasaporte</option>
  </select>

  <label for="basic-url" class="form-label">Numero de documento</label>
  <div class="input-group mb-3">
    <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" required [(ngModel)]="numeroDocumento" [ngModelOptions]="{standalone: true}">
  </div>

  <label for="basic-url" class="form-label">Foto documento - Frente</label>
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="basic-url" aria-describedby="basic-addon3" required [(ngModel)]="fotoDocumentoFrente" [ngModelOptions]="{standalone: true}">
  </div>

  <label for="basic-url" class="form-label">Foto documento - Reverso</label>
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="fotoDocumentoReverso" [ngModelOptions]="{standalone: true}" required>
  </div>
  <div class="input-group mb-3">
    <input type="submit" class="btn btn-primary" id="basic-url" aria-describedby="basic-addon3" value="Siguiente" (click)="siguiente()">
  </div>
</form>
<router-outlet></router-outlet>
